@{
    ViewData["Title"] = "Create Ship";
}
@model GalacticSpaceTransitAuthority.Ship


<div class="text-center">
    <h4>Wing</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h3>Configuration</h3>
            <div>
                <p>Name: @Model.Name</p>
                @if (Model.Hull != null)
                {
                    <p>
                        Hull: @Model.Hull.Name <br />
                    </p>
                    <ul>
                        <li>Engine: @Model.Engine.Name </li>
                        <li>Energy provided: @Model.Engine.Energy</li>
                        <li>Weight: @Model.Engine.Weight KG </li>
                    </ul>
                }
            </div>
            <div>
                @if (Model.Wings != null && Model.Wings.Count > 0)
                {
                    <h4>Wings</h4>
                    @foreach (var wing in Model.Wings)
                    {
                        <div>
                            <h5>Wing name: @wing.Name</h5>
                            @if (wing.Hardpoint != null)
                            {
                                @foreach (var hardpoint in wing.Hardpoint)
                                {
                                    <strong>@hardpoint.Name: </strong>
                                    <ul>
                                        <li>Weight: @hardpoint.Weight KG</li>
                                        <li>Type: @hardpoint.DamageType</li>
                                        <li>Energy: @hardpoint.EnergyDrain</li>
                                    </ul>
                                }
                            }
                        </div>
                    }
                }
            </div>
            <form asp-action="SubmitShip">
                <input type="hidden" asp-for="Engine.Id" value="@Model.Engine.Id" />
                <input type="hidden" asp-for="Hull.Id" value="@Model.Hull.Id" />
                <input type="hidden" asp-for="Name" value="@Model.Name" />
                
                @foreach (var wing in Model.Wings)
                {
                    <input type="hidden" asp-for="Wings"/>
                }

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>