@{
    ViewData["Title"] = "Create Ship";
}
@using GalacticSpaceTransitAuthority
@model ShipsInSpace.Models.ShipViewModel
@inject ISpaceTransitAuthority TransitAuthority


<div class="text-center">
    <h4>Wing</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="OverviewShip">
                <input type="hidden" asp-for="Engine.Id" value="@Model.Engine.Id" />
                <input type="hidden" asp-for="Hull.Id" value="@Model.Hull.Id" />
                <input type="hidden" asp-for="Hull.ActualTakeOffMass" value="@Model.Hull.ActualTakeOffMass" />
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                @for (var i = 0; i < Model.Wings.Count; i++)
                {
                    <input type="hidden" asp-for="Wings[i].Id" value="@Model.Wings[i].Id" />
                }
                <div asp-validation-summary="All" class="text-danger"></div>

                @for (var wingIndex = 0; wingIndex < Model.Wings.Count; wingIndex++)
                {
                    <h4>@Model.Wings[wingIndex].Name</h4>

                    <div class="form-group">
                        <select asp-for="Wings[wingIndex].HardpointIds" multiple>
                            @foreach (var weapon in TransitAuthority.GetWeapons())
                            {
                                <option value="@weapon.Id">@weapon.Name</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>