@{
    ViewData["Title"] = "Create Ship";
}
@using GalacticSpaceTransitAuthority
@model ShipsInSpace.Models.ShipViewModel
@inject ISpaceTransitAuthority TransitAuthority

<div class="text-center">
    <h4>Wing</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Weapons">
                <input type="hidden" asp-for="Engine.Id" value="@Model.Engine.Id" />
                <input type="hidden" asp-for="Hull.Id" value="@Model.Hull.Id" />
                <input type="hidden" asp-for="Id" value="@Model.Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @for (var wingIndex = 0; wingIndex < Model.Wings.Count; wingIndex++)
                {
                    <div class="form-group">
                        <select asp-for="Wings[wingIndex].Id">
                            @foreach (var wing in TransitAuthority.GetWings())
                            {
                                <option value="@wing.Id">@wing.Name - @wing.Weight KG - @wing.NumberOfHardpoints slot</option>
                            }
                        </select>
                    </div>

                    @*<div class="form-group">
                <select asp-for="SelectedShip.Wings[wingIndex].Hardpoint" multiple>
                    @foreach (var weapon in TransitAuthority.GetWeapons())
                    {
                        <option value="@weapon.Id">@weapon.Name</option>
                    }
                </select>
            </div>*@
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>